.header {
    padding: 96px 0 0 0;
    background-color: var(--white);
    display: flex;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding-top: 24px;
}

.header__title {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
    padding-bottom: 40px;
}

.header_mini {
    padding: 24px 0;
    background-color: var(--grey-5);
}

@media screen and (max-width: 450px) {
    .header {
        padding: 0 16px;
    }

    .header__wrapper {
        padding-top: 0;
        align-items: center;
        gap: 48px;
    }

    .header__title {
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: var(--grey-4);
    }

    .header__content {
        display: flex;
        padding: 16px 0;
        justify-content: center;
    }

    .header_mini {
        margin: 0 auto;
    }
}
