/* Стилизация кнопки */
.button {
    --blue-2: #2342C0;
    --purple-2: #5028C6;

    --primary-hover: var(--blue-2);
    --secondary-hover: var(--purple-2);

    width: 189px;
    height: 48px;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button:disabled {
    opacity: 0.5;
}

.button_primary {
    background: var(--primary);
    color: white;
}

.button_primary:hover:not([disabled]) {
    background: var(--primary-hover);
}

.button_secondary {
    background: var(--secondary);
    color: white;
}

.button_secondary:hover:not([disabled]) {
    background: var(--secondary-hover);
}

.button_alternate {
    color: var(--grey-4);
    background: var(--white);
    border: 1px solid var(--grey-3);
    transition: border-color 200ms ease-in-out;
}

.button_alternate:hover:not([disabled]) {
    border-color: var(--black);
}
