.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 350px;
    height: 367px;
    padding: 30px 26px;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
}

.card__preview {
    display: flex;
    margin: auto;
    height: 266px;
}

.card__image {
    object-fit: scale-down;
}

.card__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
    margin: 0;
}
