.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 350px;
    padding: 30px 26px;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
}

.card__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 266px;
}

.card__image {
    object-fit: scale-down;
}

.card__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
    margin: 0;
}

@media screen and (max-width: 450px) {
    .card {
        width: 164px;
        padding: 0;
        border-radius: 8px;
    }

    .card__preview {
        height: 164px;
        border-bottom: 1px solid var(--grey-2);
    }

    .card__image {
        width: 90%;
        object-fit: contain;
    }

    .card__title {
        padding: 10px 0;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}
