.histogram {
    margin: 0 400px;
    background-color: var(--white);
    box-sizing: border-box;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 16px 24px 24px 24px;
    font-family: 'Inter', sans-serif;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
}

.histogram__title {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.histogram__orders {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
}

.histogram__value {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
}

.histogram__links > a {
    font-size: 16px;
    font-weight: 400;
    color: var(--blue);
    text-decoration: none;
}

.histogram__graph {
    display: flex;
    align-items: flex-end;
    gap: 1px;
    height: 50px;
    width: 100%;
    margin-top: 39px;
}

.histogram__item {
    background-color: var(--blue);
    flex-grow: 1;
}
