.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Inter', sans-serif;
    max-width: 350px;
}

.input__label {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: var(--grey-3);
    text-transform: uppercase;
}

.input__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
}

.input__wrapper {
    position: relative;
}

.input__form {
    width: 100%;
    padding: 17px 0 13px 24px;
    box-sizing: border-box;
    border: 1px solid var(--grey-2);
    border-radius: 8px;

    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: var(--grey-4);

    outline: none;
}

.input__form:focus {
    border-color: var(--primary);
}

.input__form::placeholder {
    color: var(--grey-2);
}

.input_error > .input__wrapper .input__form {
    border-color: var(--error);
}

.input_error > .input__wrapper .input__form:focus {
    border-color: var(--primary);
}

.input_success > .input__wrapper .icon_success {
    display: block;
}

.input_error > .input__wrapper .icon_error {
    display: block;
}
